.app {
  margin-left: 0%;
}

.faq_blocks {
  margin-bottom: 10%;
}
.SubCategory {
  margin-top: 10%;
}
.gameWidth {
  margin-left: 10%;
  margin-right: 50%;
}
.scrollmenu {
  background-color: rgb(59, 151, 51);
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: rgb(119, 119, 119);
}

.detailed {
  width: 40%;
  background-color: lightblue;
  padding: 10px;
  border: 5px solid gray;
  margin: 0 auto;
  margin-top: 2%;
}
.detailedTitle {
  margin: 0 auto;
  margin-top: 2%;
  color: rgb(89, 0, 255);
}
